<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   <!-- To save as <CATALINA_HOME>\webapps\helloservlet\WEB-INF\web.xml -->
 
   <servlet>
      <servlet-name>HelloWorldServlet</servlet-name>
      <servlet-class>exampleApp.HelloServlet</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>HelloWorldServlet</servlet-name>
      <url-pattern>/sayhello</url-pattern>
   </servlet-mapping>
   
   <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>exampleApp.RegisterServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>PostRequest</servlet-name>
      <url-pattern>/postTest</url-pattern>
   </servlet-mapping>
   
   <servlet>
        <servlet-name>PostRequest</servlet-name>
        <servlet-class>exampleApp.PostRequest</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
